{% extends 'base.html' %}
{% block body %}


<div class="container my-3">
    <h2>UpdateTodo</h2>
    <!-- multistep form -->
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div> -->
            <div class="mb-3">
                <label for="desc" class="form-label">Todo Discription</label>
                <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
            </div>
            <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
            <button type="submit" class="btn btn-outline-info">Update</button>
    </form>

   


    {% endblock body %}